@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/Content/Images/chatterlogo.png" />
    <h1>Chatter</h1>
    <p class="lead">Chat, Chat, Chat</p>
    <p><a href="~/Chats/Index" class="btn btn-primary btn-lg">Let's Chat! &raquo;</a></p>
</div> 

<div class="row">
    
</div>