@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Chatter</h2>

<div id="response"></div>

<input id="postAdd" type="text"  placeholder="Chat Here" />

<button id="postChats" class="btn btn-primary">Post Chat</button>

<button id="getChats" class="btn btn-primary">Get Chats</button>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('#postChats').click(function () {

                var postMessage = $('#postAdd').val() //variable for user chat message

                //post method sending message to controller
                $.post("@Url.Action("PostChats", "Chats")", {"Message": postMessage})
                
                //Clears input box
                $('#postMessage').val("");
            }); 
             
            $("#getChats").click(myFunction);

            function myFunction() {
                $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
                    var jsonTest = JSON.parse(serverResponse);
                    console.log(jsonTest);

                    var ul = $("<ul>", { id: "messageList", "class": "bg-default" });
                    ul.click(function () { alert("ul was clicked!"); });
                    $("#response").append(ul);

                    $.each(jsonTest, function (inx, val) {
                        var myBgClass = ["bg-info", "bg-default"];
                        var li = $("<li>", { id: "li" + inx, "class": myBgClass[inx % 2] });
                        li.text(val.Message);
                        li.click(function () { alert("my index is " + inx); });
                        ul.append(li);
                    });
                })
            }

            //Function to refresh page
            setInterval('window.location.reload()', 60000);

        })


    </script>
    }