@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="response"></div>
<button id="getChats" class="btn btn-primary">Get Chats</button>

@section Scripts {
    <script>
        $(document).ready(function () {


            $("#getChats").click(function () {
                $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
                    var jsonTest = JSON.parse(serverResponse);
                    console.log(jsonTest);
                    //$("#response").text(jsonTest.firstName + " " + jsonTest.lastName);

                })
            }

        );


            $("#postChats").click(

                );
        }
        );
    </script>
}